@model JabbR.Models.QuestionRecord

@{ Layout.Title = T("Edit Q&A").ToString(); }

@using (Html.BeginFormAntiForgeryPost()) { 
    @Html.ValidationSummary() 
    <input type="hidden" value="@Model.Id" name="@Html.NameOf(m => m.Id)"/>
<fieldset>
    @Html.LabelFor(m => m.Name, T("Question Name"))
    @Html.TextBoxFor(m=>m.Name, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m=>m.Name, "*")
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Question, T("Question"))
    @Html.TextBoxFor(m => m.Question, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m => m.Question, "*")
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Answer, T("Answer"))
    @Html.TextBoxFor(m => m.Answer, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m => m.Answer, "*")
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Delay, T("Answer Delay"))
    @Html.TextBoxFor(m => m.Delay, new { @class = "textMedium" })
    @Html.ValidationMessageFor(m => m.Delay, "*")
</fieldset>
<fieldset>
    @Html.LabelFor(m => m.Active, T("Enable Q&A"))
    @Html.CheckBoxFor(m => m.Active, new { @class = "textMedium" })
</fieldset>
<button type="submit" name="edit" value="@T("Apply")">@T("Apply")</button>

} 
